.container {
  margin-top: 30px;
}

.table {
  margin: 0 auto;
  margin-top: 10px;
}

.input {
  background: transparent;
  border: none;
}

.removeButton {
  cursor: pointer;
}

.summary {
  text-align: right;
}